In [1]:
#作業5-1
import pandas as pd
import numpy as np

Tags=['A','A','A','A']
countrys=['Taiwan','Japan','China','America']
populations=[np.random.randint(0,10**9),np.random.randint(0,10**9),np.random.randint(0,10**9),np.random.randint(0,10**9)]


list_labels = ['country','population','Tag'] #欄位名稱
list_cols = [countrys,populations,Tags] #欄位內容

zipped=list(zip(list_labels,list_cols)) #將"欄位名稱" 以及 "欄位內容" 合併
list(zip(list_labels,list_cols)) # show 出來

person = pd.DataFrame(dict(zipped)) #將list->dict->dataframe
person

   country  population Tag
0   Taiwan   442471256   A
1    Japan    68579009   A
2    China   803771569   A
3  America    98465260   A

In [2]:
#person.groupby(by='Tag')['population'].max() # 比較爛的方法XD
person[person['population'] == person['population'].max()]['country'] #找出Dataframe population 最大的

2    China
Name: country, dtype: object